alice/alice_priv_key.pem
alice/alice_priv_enc_key.pem
alice/alice_pub_key.pem
alice/bob_pub_key.pem

bob/bob_priv_enc_key.pem
bob/bob_priv_key.pem
bob/bob_pub_key.pem
bob/alice_pub_key.pem

alice/plaintext
alice/ciphertext
alice/ciphertext.base64
alice/message

bob/message
bob/ciphertext.base64
bob/ciphertext
bob/plaintext

alice/session_key
alice/session_key_ciphertext
alice/session_key_ciphertext.base64

bob/session_key
bob/session_key_ciphertext
bob/session_key_ciphertext.base64

alice/digest
alice/signature
alice/signature.base64

bob/signature
bob/signature.base64
bob/verify_digest
bob/digest

shared/secret_key
